
.has-border{
    border: 20px solid $blue;
    @include media-breakpoint-down(lg) {
        border: unset;
    }
}
#wrapper {
    overflow: hidden;
    -webkit-box-shadow: 0 0px 18px rgba(0,0,0,.1);
    box-shadow: 0 0px 18px rgba(0,0,0,.1);
    @include media-breakpoint-down(sm) {
        box-shadow: unset;
    }
}

.box-separator{
    content: '';
    display: inline-block;
    background: $blue;
    width: 4px;
    height: 4px;
}
.horizon{
    &:after{
        content: '';
        position: absolute;
        top: 50%;
        height: 1px;
        width: 100%;
        background: #e5e5e5;
        right: 0;
    }
}
.bg-grey{
    background:$grey;
}

.w-70{
    width: 70%;
}

.separator-subscribe{
    &:after{
        content: '';
        position: absolute;
        width: 40px;
        height: 2px;
        bottom: -15px;
        left: 0;
        background: $primary;
    }
   
}