//
// Load all required stylesheets
//

@import '_all';

//
// Your app styles
//

body {
    padding-top: 35px;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'Noto Sans', sans-serif;
}
 