//
// Custom buttons
//
// Use bootstrap mixins. Example:
//
// @mixin button-variant($background, $border, $active-background: darken($background, 7.5%), $active-border: darken($border, 10%))
//
// @mixin button-outline-variant($color, $color-hover: #fff)
//

.btn-outline-black {
    @include button-outline-variant(#000);
}

.btn-outline-white {
    @include button-outline-variant(#fff, #000);
}

.btn-link{
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    color:#121212;
}
.btn-dark{
    color: #fff;
    background-color: #000000;
    border-color: #000000;
    letter-spacing: 1px;
    font-size: .8571em;
    text-transform: uppercase;
    font-weight: 500;
    &:hover{
        background-color: $primary;
        border-color: $primary;   
    }
}