.blog-header{
  font-family: 'Poppins', sans-serif;
  padding-top: 30px;
  .social-media{
    .nav-link{
      padding: 0.5rem 0.5rem;
    }
  }
  .navbar-brand {
    font-family: 'Playfair Display SC', serif;
    font-size: 30px;
    font-weight: 800;
    color:#121212;
    .logo{
      width: 170px;
      object-fit:cover;
    }
  }
  .hamburger {
    display: block;
    position: relative;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 17px;
    width: 20px;
    position: relative;
    left: calc(2% - 4px);
    top: 4px;
    cursor: pointer;
    .hamburger_checkbox {
      display: none;
    }
    .hamburger_line {
      width: 100%;
      height: 3px;
      background: $black;
      position: absolute;
      border-radius: 4px;
      transition: .3s;
      &:nth-child(2) {
        top: 0;
      }
      &:nth-child(3) {
        top: calc(50% - 2px);
        background: $black;
      }
      &:nth-child(4) {
        bottom: 0;
      }
    }
  }

}
.slide-menu{
  .menu-toggle {
    display: none;
    &:checked {
      + {
        .menu-wrap {
          right: 0;
        }
      }
      ~ {
        .menu-overlay {
          display: block;
        }
      }
    }
  }
  .menu-wrap {
    background-color: #fff;
    padding: 40px 20px;
    text-transform: uppercase;
    overflow-x: hidden;
    transition: all 0.3s;
    position: fixed;
    width: 350px;
    top: 0;
    right: -350px;
    bottom: 0;
    z-index:99999;
    box-shadow: -2px 0px 10px rgba(0,0,0,.06);
    &:hover {
      .menu-list {
        overflow-y: auto;
      }
    }
    .logo-push-menu{
      width: 150px;
      margin: 0 auto;
    }
  }
  .menu-close{
    opacity: 1;
    position: absolute;
    width: 45px;
    height: 45px;
    right: -15px;
    top: 9px;
    transition: all 0.3s;
    i{
      color:$black;
      font-size: 16px;
    }
    &:hover {
      cursor: pointer;
    }
  }
  .menu-title {
    color: $black;
    padding-left: 40px;
    font-weight: 300;
  }
  .menu-list {
    position: absolute;
    top: 160px;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: inherit;
    display: block;
    overflow: hidden;
    ul {
      list-style-type: none;
    }
    li {
      display: block;
      &:first-child {
        border-top: medium none;
      }
      a {
        display: block;
        padding: 10px 40px;
        font-size: 18px;
        color: $black;
        text-decoration: none;
        &:hover {
          background: #359BED;
        }
        &:active {
          background: #666;
        }
      }
    }
  }

}
.nav-scroller{
  position: relative;
  z-index: 2;
  height: 3.75rem;
  overflow-y: hidden;
  font-weight: 500;
  nav{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
}


.main-nav{
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}


.navbar-light {
  .navbar-nav {
    .nav-link{
      &:hover,&:focus{
        color:$primary;
      }
    }
    .dropdown{
      .dropdown-toggle{     
        &:hover{
          color:$primary!important;
        }
        &:after{
          display: inline-block;
          margin-left: 0.255em;
          vertical-align: 0.255em;
          content: "";
          border-top: 0.3em solid;
          border-right: 0.3em solid transparent;
          border-bottom: 0;
          border-left: 0.3em solid transparent;
        }
      }
    }    
  }

}

// .navbar-nav{
//   flex-direction: inherit;
//   .nav-item{
//     position: relative;
//     list-style: none;
//     &:hover{
//       .nav-link{
//         color:$primary;
//       }
//     }
//     .nav-link{
//       padding-right: 14px;
//       display: inline;
//       color:$black;
//       -moz-transition: all .2s ease-in;
//       -o-transition: all .2s ease-in;
//       -webkit-transition: all .2s ease-in;
//       transition: all .2s ease-in;
//       a{
//         font-family: unset;
//       }
//     }
//   }
//   .dropdown-hover{
//     .dropdown-toggle{
//       font-family: 'Poppins', sans-serif;
//       font-weight: 500;
//       font-size: 14px;
//       line-height: 12px;
//       text-transform: uppercase;
//       letter-spacing: 1px;
//       &:hover{
//         color:$primary!important;
//       }
//       &:after{
//         display: inline-block;
//         margin-left: 0.255em;
//         vertical-align: 0.255em;
//         content: "";
//         border-top: 0.3em solid;
//         border-right: 0.3em solid transparent;
//         border-bottom: 0;
//         border-left: 0.3em solid transparent;
//       }
//     }
//     .dropdown-menu{
//       border: 0px;
//       box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px 0px;
//       min-width: 12rem;
//       background: #333;
//       li{
//         padding: 10px 0px;
//         a{
//           font-size: 14px;
//           font-weight: 300;
//           letter-spacing: 0.5px;   
//           color: #fff; 
//         }
//         &:hover a{
//           color: #dfcca2;
          
//         }
//       }
//     }
//   } 
// }

.sidebar-menu-wrapper{
  .sidebar-menu {
    position: relative;
    margin: 40px 0px;
    width: 100%;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        a {
          display: block;
          padding: 10px 0px;
          color: #888;
          font-size: 0.857em;
          text-transform: uppercase;
          font-weight: 500;
          text-decoration: none;
          -webkit-transition: 0.2s linear;
          -moz-transition: 0.2s linear;
          -ms-transition: 0.2s linear;
          -o-transition: 0.2s linear;
          transition: 0.2s linear;
          letter-spacing: 1px;
          border-bottom: 1px solid #eaeaea;
          &:hover {
            color: $primary;
          }
          .fas {
            width: 16px;
            text-align: center;
            margin-right: 5px;
            float: right;
          }
        }
        ul {
          padding-left: 15px;
          li {
            a {
              background: transparent;
              // border-left: 3px solid;
              padding: 10px 10px;
              &:hover {
              
                // border-left: 3px solid #3498db;
              }
            }
          }
        }
      }
      ul {
        // background-color: #ebebeb;
      }
    }
  }  
}