.owl-carousel .owl-nav.disabled, .owl-carousel .owl-dots.disabled {
    display: block;
}
#hero-slider{
    margin-top: 10px;
    position:relative;
    &:before{
        content: '';
        position: absolute;
        width: 420px;
        height: 420px;
        border: 15px solid $blue;
        left: -35px;
        top: 40px;
        z-index:-1;
        @include media-breakpoint-down(lg) {
            display:none;
        }
    }
    &:after{
        right: -35px;
        bottom: 40px;
        content: '';
        position: absolute;
        width: 420px;
        height: 420px;
        border: 15px solid $blue;
        z-index:-1;
        @include media-breakpoint-down(lg) {
            display:none;
        }
    }
  
    .owl-stage-outer{
        .owl-stage{
            .owl-item{
                .item{
                    position:relative;
                    .box-slider{
                        position: absolute;
                        top: 30px;
                        left: 30px;
                        color: black;
                        width: 420px;
                        -webkit-box-sizing: content-box;
                        box-sizing: content-box;
                        @include media-breakpoint-down(md) {
                            position: absolute;
                            top:unset;
                            left: 20px;
                            bottom:20px; 
                            width: 350px;   
                        }
                        .shape{
                            position: relative;
                            background: #fff;
                            padding: 30px 30px 0px;
                            z-index: 20;
                            @include media-breakpoint-down(md) {
                                padding: 10px;
                            }
                            &:before{
                                display: block;
                                content: "";
                                height: 95px;
                                width: 420px;
                                position: absolute;
                                bottom: -89px;
                                left: 0;
                                -webkit-transform-origin: top left;
                                -ms-transform-origin: top left;
                                transform-origin: top left;
                                -webkit-transform: skew(0,-12deg);
                                -ms-transform: skew(0,-12deg);
                                transform: skew(0,-12deg);
                                background: #fff;
                                z-index: -1;
                                @include media-breakpoint-down(sm) {
                                    display:none;
                                }
                            }
                            &:after{
                                content: "";
                                display: block;
                                height: 100%;
                                width: 150px;
                                position: absolute;
                                bottom: 0;
                                left: 270px;
                                -webkit-transform-origin: bottom right;
                                -ms-transform-origin: bottom right;
                                transform-origin: bottom right;
                                -webkit-transform: skew(-16deg,0deg);
                                -ms-transform: skew(-16deg,0deg);
                                transform: skew(-16deg,0deg);
                                background: #fff;
                                z-index: -1;
                                @include media-breakpoint-down(sm) {
                                    display:none;
                                }
                            }
                            .content-slider{
                                position:relative;
                                z-index: 3;
                                .text-lead{
                                    color:#888;
                                    font-size: 11px;
                                    font-weight: 500;
                                    text-transform: uppercase;
                                    letter-spacing: 1px;
                                    position:relative;
                                    
                                    &:after{
                                        content: '';
                                        width: 100%;
                                        height: 2px;
                                        display: block;
                                        left: 0px;
                                        position: absolute;
                                        z-index: -1;
                                        background-color: $gold;
                                    }
                                }
                                .text-hero{
                                    position:relative;
                                    margin-top:10px;
                                    font-size: 34px;
                                    font-weight: 700;
                                    text-transform: none;
                                    line-height: 36px;
                                    letter-spacing: 0px;
                                    -webkit-transition: all .3s ease-out;
                                    -o-transition: all .3s ease-out;
                                    transition: all .3s ease-out;
                                    @include media-breakpoint-down(sm) {
                                        font-size: 20px!important;
                                        line-height: unset;
                                        margin-top: unset;
                                    }

                                    .stabilo{
                                        &:after{
                                            content: '';
                                            position: absolute;
                                            width: 140px;
                                            height: 15px;
                                            left: -13px;
                                            bottom: 0;
                                            z-index: -1;
                                            background-color: $gold;
                                            @include media-breakpoint-down(sm) {
                                                display:none;
                                            }
                                        }
                                    }
                                }
                                .author{
                                    font-size: .786em;
                                    color: #888;
                                    text-transform: uppercase;
                                    font-weight: 500;
                                    padding-bottom: 20px;
                                    display:flex;
                                    margin-top:20px;
                                    border-bottom: 2px dashed #eee;
                                }
                                .post-desc p{
                                    overflow: hidden;
                                    color: #777777;
                                    font-size:14px;
                                    display: -webkit-box;
                                    line-height: 1.8;
                                    -webkit-line-clamp: 3;
                                    -webkit-box-orient: vertical;
                                }
                                .slider-number p{
                                    position: relative;
                                    color: #777777;
                                    bottom: -20px;
                                    font-size: 13px;
                                    font-weight: 700;
                                    
                                }
                                
                            }
                        }
                    }
                    .img-slider{
                        width: 100%;
                        max-height: 600px;
                        object-fit: cover;
                    }
                }
           
                
            }
           
        }
    }
    .owl-nav {
        display: block;
        position: absolute;
        bottom: 18px;
        right: 20px;
        i{
          font-size: 20px;
          display: block; 
        }     
        .disabled{
          display: none;
        }
        .owl-next, .owl-prev {
          width: 25px;
          color:$white;
          border: 0;
          outline: none;
          &:hover, &:focus {
            background:transparent;
            outline: none;
          }
        }
    }
}