h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins', sans-serif;
}
a{
    color:$black;
    &:hover{
        color: rgba(18, 18, 18, 0.8);
        text-decoration:none;
    }
}
p{
    color:$black;
    margin-bottom:0;
}

p,span,small{
    font-family: 'Noto Sans', sans-serif;
}